<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>记账账本备份</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jizhang.ledger-backup</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.xxl.jizhang</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>jizhang</string>
			</array>
		</dict>
	</array>
	<key>INIntentsRestrictedWhileLocked</key>
	<array/>
	<key>INIntentsRestrictedWhileProtectedDataUnavailable</key>
	<array/>
	<key>INIntentsSupported</key>
	<array>
		<string>AddExpenseIntent</string>
		<string>GetTodayExpenseIntent</string>
		<string>GetBudgetIntent</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>AddExpenseIntent</string>
		<string>GetTodayExpenseIntent</string>
		<string>GetBudgetIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>记账账本备份文件</string>
			<key>UTTypeIdentifier</key>
			<string>com.jizhang.ledger-backup</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jizhang</string>
				</array>
				<key>public.mime-type</key>
				<string>application/json</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
